erddap/data
logs

.idea
*.iml
.project

# Ignore env configuration
.env

# Ignore the datasets directory
# Separate version-controlled scripts should be used to re-fetch any data to be cached there.
datasets
