<footer>
  <div class="container">
    <div class="row">
      <div id="footer-col-2" class="col-md-3 col-md-offset-3">
        <h5>Useful Links</h5>
        <div>
          <a href="https://ioos.noaa.gov/" target="_blank">ioos.noaa.gov</a>
        </div>
        <div>
          <a href="https://ioos.us/" target="_blank">ioos.us</a>
        </div>
      </div>
      <div id="footer-col-3" class="col-md-3">
          <h5>Our Social Ocean</h5>
          <div>
            <a href="https://www.facebook.com/usioosgov">
                <div class="ggt-icon-border animate-icon">
                  <i class="ggt-vc-icon-class mdi mdi-facebook"></i>
                </div>
                <div class="txt">facebook.com/<br>usioosgov</div>
            </a>
            <a href="https://www.twitter.com/usioosgov">
              <div class="ggt-icon-border animate-icon">
                <i class="ggt-vc-icon-class mdi mdi-twitter"></i>
              </div>
              <div class="txt">twitter.com/<br>usioosgov</div>
            </a>
          </div>
      </div>
      <div id="footer-col-4" class="col-md-3">
        <div itemscope itemtype="http://schema.org/GovernmentOrganization">
          <p itemprop="name">U.S. Integrated Ocean Observing System Program</p>
          <p itemprop="address">1315 East-West Highway,<br>2nd Floor<br>Silver Spring, MD 20910
          <p itemprop="telephone"><a href="tel:240-533-9444"> (240) 533-9444</a></p>
        </div>
        <a class="btn" href="mailto:webmaster.ioos.us@noaa.gov" itemprop="email">
          <div>Contact Us</div>
        </a>
      </div>
      <div class="row" style="padding-top: 20px; margin-right: 150px; clear: both;">
          <div class="col-lg-12 footer">
              {% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }}
          </div>
      </div>
    </div>
  </div>
</footer>
