a:link {
  color: #e55162;
}

a:visited {
  color: #c45963;
}

body > table {
  background-color: #d63d4f !important;
  color: #fff;
}

body > table a{
  color: #fff !important;
  text-decoration: underline !important;
  font-weight: bold;
}

table.commonBGColor td {
  background-color: #f4f4f4;
  color: #808081;
}


table.commonBGColor tr:hover td {
  background-color: #fff;
  color: #e55162;
}


body > table > tbody > tr > td > a > img {
  width: 450px;
  height: auto;
  margin-right: 8px;
  padding-right: 8px;
  background-color: #fff;
}


